<!DOCTYPE html>
<html lang="pt">
    <head>
      <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/index.css")">
    </head>
    <body>
      <h1>LINKS PARA OS MÉTODOS</h1>
      <div class="containerA">
        <a href="./olamundo">Imprimir OlaMundo</a>
        <a href="/maior2/10/5">Maior número entre dois inteiros</a>
        <a href="/maior5/1/2/3/4/5">Maior Número entre N valores</a>
        <a href="/vogais/esseEhoTexto">Contar as Vogais</a>
        <a href="/impar/10">Verificar se o número inteiro é impar</a>
        <a href="/intervalo/-10/17">Imprimir intervalo entre dois número inteiros</a>
        <a href="/fatorial/5">Fatorial de N</a>
        <a href="/divisores/90">Divisores de N</a>
        <a href="/mdc/10/10">Calcular MDC entre dois números (Ainda não foi feito)</a>
        <a href="/transcreve_numero/84994381350">Números por extenso</a>
      </div>
    </body>
</html>